/* your styles go here */

.logowrapper {
  width: 100%; /* Or whatever width you want */
}
.logowrapper img {
  max-width: 100%;
  height: auto;
  width: auto; /* For IE8 */
}

.italic {
	text-align: center;
	font-family: "Cardo", "Times New Roman", Times, serif;
	font-size: 40px;
}
.gallery{
	background-image: url('img/wineglass.jpg');
	   background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% 0%; 
}